<%= form_with(model: assignment, local: true) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :course_id %>
    <%= form.text_field :course_id %>
  </div>

  <div class="field">
    <%= form.label :full_credit %>
    <%= form.text_field :full_credit %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
