<h1>
  <strong>Course:</strong>
  <%= @course.name %>
</h1>

<h3>
  <strong>Instructor:</strong>
  <%= @course.user.name %>
</h3>

<p>
<b> Earned Credit: </b> To be decided <br>
<b> Full Credit: </b> <%= @assignments.sum(:full_credit) %></br>
</p>

<%= render @assignments %>

<br>
<br>
<%= link_to 'Add Assignment', new_assignment_path(course_id: @course.id) %> |

<h3> Students (<%= @enrolls.count %>): </h3>

    <% @enrolls.each do |enroll| %>
      <%= enroll.user.name  %> <br>
    <% end %>
    <br>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
