<h1>
  <strong>Course:</strong>
  <%= @course.name %>
</h1>

<h3>
  <strong>Instructor:</strong>
  <%= @course.user.name %>
</h3>

<p>
<b> Earned Credit: </b> <%= @earned_credit %> <br> 
<b> Full Credit: </b> <%= @full_credit %></br>
<b> Course Score: </b> <%= @course_score %> %
</p>

<h3> Assignments (<%= @assignments.count %>): </h3>
<%= render @assignments %>

<br>
<br>
<%= link_to 'Add Assignment', new_assignment_path(:course_id => @course.id) %> 
<h3> Students (<%= @enrolls.count %>): </h3>

    <% @enrolls.each do |enroll| %>
      <%= enroll.user.name  %> <br>
    <% end %>
    <br>
<%= link_to 'Edit Course Name', edit_course_path(@course) %>
