<!DOCTYPE html>
<html>
  <head>
    <title>Gradebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<body>
		<header class="navbar navbar-fixed-top navbar-inverse">
			<div class="container">
        <% if logged_in? %>
          <%= link_to "Gradebook | "+current_user.name, '/courses', id: "logo" %>
        <% else %>
          <%= link_to "Gradebook", '/', id: "logo" %>
        <% end %>
				<nav>
					<ul class="nav navbar-nav navbar-right">
						<% if logged_in? %>
              <li><%= link_to "Users", '/users' %></li>
              <li><%= link_to "Enrolls", '/enrolls' %></li>
              <li><%= link_to "Courses", '/courses' %></li>
              <li><%= link_to "Log out", '/logout', method: :delete %></li>
						<% else %>
              <li><%= link_to "Sign Up", '/signup' %></li>
              <li><%= link_to "Log in", '/login' %></li>
						<% end %>
					</ul>
				</nav>
			</div>
		</header>
		<div class="container">
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>
			<%= yield %>
		</div>
  </body>
</html>
